<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <Link rel="stylesheet" href="{{ url_for('static',filename= 'css/style.css') }}">
    <title>Proyecto Final</title>
</head>
<body>
    
    <div class="navbar">
        <h1>Lista de Tareas</h1>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Habitos</a></li>
            <li><a href="#">Tareas</a></li>
            <li><a href="#">contacto</a></li>
            <li><a href="#">Acerca de</a></li>
        </ul>
        <button class="hire-btn1">Iniciar sesión</button>
        <button class="hire-btn2">Registrate</button>
    </div>

    <div class="main">
        <h4>Hola, esta es la <span>Prueba1</span>🖖</h4>
        <p class="title">Aqui va texto</p>
        <p class="subtitle">Más texto qui</p>
    </div>

</body>
</html>