{% extends 'base.html' %}

{% block title %}Proyecto Final{% endblock %}

{% block body %}
    {% if flash_messages %}
        {% for message in flash_messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <!-- Contenido de la página principal -->
    <h1>Bienvenido a la aplicación</h1>
    <p>Descripción y contenido principal...</p>

    <!-- Formulario de inicio de sesión -->
    <h2>Iniciar Sesión</h2>
    <form action="{{ url_for('iniciar_sesion') }}" method="post">
        <!-- Agrega aquí los campos del formulario para el inicio de sesión -->
        <input type="text" name="username" placeholder="Nombre de usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Iniciar Sesión</button>
    </form>

    <!-- Formulario de registro -->
    <h2>Registrarse</h2>
    <form action="{{ url_for('registro') }}" method="post">
        <!-- Agrega aquí los campos del formulario para el registro -->
        <input type="text" name="username" placeholder="Nombre de usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <input type="password" name="confirm_password" placeholder="Confirmar Contraseña" required>
        <button type="submit">Registrarse</button>
    </form>
{% endblock %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <Link rel="stylesheet" href="{{ url_for('static',filename= 'css/style.css') }}">
    <title>Proyecto Final</title>
</head>
<body>
    
    <div class="navbar">
        <h1>Lista de Tareas</h1>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Habitos</a></li>
            <li><a href="#">Tareas</a></li>
            <li><a href="#">contacto</a></li>
            <li><a href="#">Acerca de</a></li>
        </ul>
        <button class="hire-btn1">Iniciar sesión</button>
        <button class="hire-btn2">Registrate</button>
    </div>

    <div class="main">
        <h4>Hola, esta es la <span>Prueba1</span>🖖</h4>
        <p class="title">Aqui va texto</p>
        <p class="subtitle">Más texto qui</p>
    </div>

</body>
</html> -->